a, a:hover, a:visited {
    color: rgb(45, 49, 51);
    text-decoration: underline;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

.container {
    margin-top: 10px;
    max-width: 1200px;
}

.content p {
    text-align: justify;
}

.content .img-responsive {
    display: inline;
}

.post-date {
    color: #999;
}

#license {
    text-align: center;
    font-size: 0.7em;
}

footer {
    border-top: solid 1px #efefef;
    padding-top: 10px;
    margin-bottom: 10px;
}

ul.tag-cloud li {
    font-size: 18px;
    color: #666;
}

ul.post-tag-cloud li {
    font-size: 12px;
    color: #666;
}
