/*general*/

.reveal pre code {
    color: black;
    max-height: 600px;
    background: white;
}

.reveal section img {
    border: none;
    background: none;
    max-height: 580px;
}

.reveal div, .reveal h1, .reveal h2 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*social icons*/

.reveal .twitter {
    padding-left: 45px;
    vertical-align: top;
    background-image: url(TwitterLogo.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50px;
}

.reveal .github {
    padding-left: 40px;
    margin-left: 5px;
    vertical-align: top;
    background-image: url(GitHub-Mark-120px-plus.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 35px;
}

.reveal .github a, .reveal .twitter a {
    color: black;
}

.reveal .social {
    background-color: white;
    opacity: 0.6;
    padding: 10px;
    margin: 10px 100px;
}

/*title slide*/

.reveal #title-slide h1, .reveal #title-slide h2, .reveal #title-slide h3, .reveal #title-slide p {
    color: white;
}

.reveal #title-slide.present {
    background-color: black;
    opacity: 0.7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*thank you*/

.reveal .thankyou {
    color: white;
}

.reveal .thankyou h1 {
    background-color: white;
    opacity: 0.5;
    font-size: 1em;
    width: 25%;
    padding: 10px;
    text-align: center;
}

.reveal .thankyou .social {
    margin-top: 350px;
    float: right;
}

.reveal .thankyou .social a {
    color: black;
}
