---
layout: default
title: Blog
---

<h1>Jakub Zalas</h1>

<div class="row-fluid">
    {% for post in site.posts limit:1 %}
        <div class="span12">
            {% include postExcerpt.html %}
        </div>
    {% endfor %}
    <div class="row-fluid">
        <div class="span8">
            <ul class="posts unstyled">
                {% for post in site.posts limit:10 offset:1 %}
                    <li>{% include postListItem.html %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

