---
layout: default
title: Blog
hideNavigation: no
---

<div class="posts list-group">
    {% for post in paginator.posts %}
    <a href="{{ site.url.main }}{{ post.url }}" class="list-group-item">
        <span class="pull-right post-date">{% include postDate.html %}</span>
        <h2 class="list-group-item-heading">{{ post.title }}</h2>
    </a>
    {% endfor %}
    <ul class="pager">
        {% if paginator.previous_page %}
            <li class="previous">
                {% if paginator.previous_page == 1 %}
                    <a href="{{ site.url.main }}/">Previous</a>
                {% else %}
                    <a href="{{ site.url.main }}{{ paginator.previous_page_path }}">Previous</a>
                {% endif %}
            </li>
        {% else %}
            <li class="previous disabled">
                <a href="#">Previous</a>
            </li>
        {% endif %}
        {% if paginator.next_page %}
            <li class="next">
                <a href="{{ site.url.main }}{{ paginator.next_page_path }}">Next</a>
            </li>
        {% else %}
            <li class="next disabled">
                <a href="#">Next</a>
            </li>
        {% endif %}
    </ul>
</div>
