<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ site.url.assets }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ site.url.assets }}/css/code.css" rel="stylesheet">
        <link href="{{ site.url.assets }}/css/base.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.url.main }}/" title="Homepage"><span class="glyphicon glyphicon-home"></span></a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <section class="content">{{ content }}</section>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-2 col-xs-4">
                            <img class="avatar img-rounded img-responsive" src="{{ site.url.assets }}/images/kuba.png" alt="Jakub Zalas" title="Jakub Zalas" />
                        </div>
                        <div class="col-md-12 col-sm-10 cal-xs-8">
                            <h4>Jakub Zalas</h4>
                            <p>Agile PHP Developer, addicted to BDD and Symfony2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
