<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ site.url.assets }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!--<link href="{{ site.url.assets }}/css/code.css" rel="stylesheet">-->
        <link href="{{ site.url.assets }}/css/base.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% include header.html %}
            <div class="row">
                <div class="col-md-10">
                    <section class="content">{{ content }}</section>
                </div>
                <div class="col-md-2">
                    <nav class="navbar navbar-default" role="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ site.url.main }}/" title="Homepage"><span class="glyphicon glyphicon-home"></span></a></li>
                        </ul>
                    </nav>
                    <img class="avatar img-rounded" src="{{ site.url.assets }}/images/kuba.png" alt="Jakub Zalas" title="Jakub Zalas" />
                    <h4>Jakub Zalas</h4>
                    <p>Agile PHP Developer, addicted to BDD and Symfony2</p>
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
