---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 5
talks:
    count: 0
use:
    - posts
    - talks
---
<section class="posts">
    <h2>Recent blog posts</h2>
    <ul class="posts list-unstyled" itemscope itemtype="http://schema.org/Blog">
        {% for post in page.pagination.items %}
        <li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <a href="{{ site.url }}{{ post.url }}" itemprop="url"><h3 itemprop="name">{{ post.title }}</h3></a>
            <span class="post-date">
                <time itemprop="datePublished" content="{{ post.date | date('Y-m-d') }}" datetime="{{ post.date | date('Y-m-d') }}">{{ post.date | date('d M Y') }}</time>
            </span>
        </li>
        {% endfor %}
    </ul>
    <ul class="pager">
        {% if page.pagination.previous_page %}
        <li class="previous">
            <a href="{{ site.url }}{{ page.pagination.previous_page.url }}{{ page.pagination.previous_page.url == '/' ? '' : '/' }}">Previous</a>
        </li>
        {% else %}
        <li class="previous disabled">
            <a href="#">Previous</a>
        </li>
        {% endif %}
        {% if page.pagination.next_page %}
        <li class="next">
            <a href="{{ site.url }}{{ page.pagination.next_page.url }}/">Next</a>
        </li>
        {% else %}
        <li class="next disabled">
            <a href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</section>

{% if page.talks.count > 0 %}
<section class="talks">
  {% set talksDisplayed = 0 %}
  {% for talk in data.talks[0:page.talks.count] if talk.promoted %}
  <h2>Recent talks and workshops</h2>
  <article class="talk" itemscope itemtype="http://schema.org/Event">
    <a href="{{ talk.url }}" itemprop="url" title="{{ talk.title }}"><h3>{{ talk.title }}</h3></a>
    <span itemprop="startDate" content="{{ talk.date | date('Y-m-d\TH:i') }}">{{ talk.date | date('d M Y') }}</span>,
    <span itemscope itemtype="http://schema.org/Event">{{ talk.event }}</span>
    <p>{{ talk.content|raw }}</p>
  </article>
  {% set talksDisplayed = talksDisplayed + 1 %}
  {% endfor %}
  {% if page.talks.count > talksDisplayed %}
  <ul>
    {% for talk in data.talks[0:page.talks.count-talksDisplayed] if not talk.promoted %}
    <li class="talk" itemscope itemtype="http://schema.org/Event">
      <a href="{{ talk.url }}" itemprop="url" title="{{ talk.title }}"><h3 itemprop="name">{{ talk.title }}</h3></a>
      <span itemprop="startDate" content="{{ talk.date | date('Y-m-d\TH:i') }}">{{ talk.date | date('d M Y') }}</span>,
      <span itemscope itemtype="http://schema.org/Event">{{ talk.event }}</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
{% endif %}
