---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 5
use:
    - posts
---
<section class="posts">
    <ul class="posts list-unstyled" itemscope itemtype="http://schema.org/Blog">
        {% for post in page.pagination.items %}
        <li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <a href="{{ site.url }}{{ post.url }}/" itemprop="url"><h2 itemprop="name">{{ post.title }}</h2></a>
            <span class="post-date">
                <time itemprop="datePublished" content="{{ post.date | date('Y-m-d') }}" datetime="{{ post.date | date('Y-m-d') }}">{{ post.date | date('d M Y') }}</time>
            </span>
        </li>
        {% endfor %}
    </ul>
    <ul class="pager">
        {% if page.pagination.previous_page %}
        <li class="previous">
            <a href="{{ site.url }}{{ page.pagination.previous_page.url }}{{ page.pagination.previous_page.url == '/' ? '' : '/' }}">Previous</a>
        </li>
        {% else %}
        <li class="previous disabled">
            <a href="#">Previous</a>
        </li>
        {% endif %}
        {% if page.pagination.next_page %}
        <li class="next">
            <a href="{{ site.url }}{{ page.pagination.next_page.url }}/">Next</a>
        </li>
        {% else %}
        <li class="next disabled">
            <a href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</section>

